style.
    .wizardScreens {
        list-style-type: none;
        padding: 0px;
    }

    div.wizard {
        border: solid 1px darkblue;
    }

    .wizardContents {
        padding-left: 1em;
        padding-top: 5px;
        padding-bottom: 10px;
        background: lightblue;
        position:relative;
    }

    div.sectionHeading {
        background: darkblue;
        color: white;
        font-weight:bold;
        font-size: larger;
        cursor: pointer;
    }

    div.sectionHeading:hover {
        background: royalblue;
        color: lightgoldenrodyellow;
        left: .2em;
    }

    table {
        border-collapse: separate;
        width:100%;
    }

    tr.withPadding > td {
        padding-bottom: 3px;
        padding-top: 3px;
    }

    td.left {
        padding-left: 1em;
    }

    td.right {
        text-align: right;
        padding-right: 1em;
    }

    td.center {
        text-align: center;
    }

    .elementWrapper {
        position: absolute;
    }

    .debugborder {
        border: 1px solid white;
    }

    select {
        width:100%;
    }

    table.gridlines, td.gridlines {
       border: 1px solid black;
    }

|<div *ngIf="wizard" class="wizard" [style.width]="wizard.widthstr">
|   <ul class="wizardScreens">
|       <li *ngIf="wizard.sections" *ngFor="#section of wizard.sections">
|           <div *ngIf="section" class="sectionHeading">
|               <table (click)="wizard.onSelect(section)">
|                   <tr class="withPadding">
|                      <td class="left">{{section.header}}</td>
|                       <td class="right">{{section.status}}</td>
|                   </tr>
|               </table>
|           </div>
|           <div *ngIf="section">
|               <div *ngIf="section.wizardScreen" class="wizardContents"
|                    [style.display]="section.isDisplayed ? 'block' : 'none'"
|                   [style.height]="wizard.heightstr">
|                  <ul class="wizardScreens">
|                       <li *ngFor="#element of section.wizardScreen.elements">
|                           <div class="elementWrapper"
|                                [style.top]="element.ypx"
|                                [style.left]="element.xpx"
|                                [style.height]="element.heightpx"
|                                [style.width]="element.widthpx">
|                               <div *ngIf="element.name.substring(0, 7) == 'textBox'">
|                                   <input [(ngModel)]="element.data.value"/>
|                               </div>
|                               <div *ngIf="element.name.substring(0, 5) == 'label'">
|                                   <span>{{element.text}}</span>
|                               </div>
|                               <div *ngIf="element.name.substring(0, 5) == 'combo'">
|                                   <select [(ngModel)]="element.data.value"><option *ngFor="#o of element.data.metadata.options" [value]="o.value">{{o.display}}</option></select>
|                              </div>
|                           </div>
|                       </li>
|                   </ul>
|             </div>
|           </div>
|       </li>
|   </ul>
|   <table>
|       <tr >
|           <td style="text-align:center;">
|               <button [style.display]="wizard.canGoToNextSection ? 'block' : 'none'" (click)="wizard.onNextSection()">Next</button>
|           </td>
|           <td style="text-align:center;">
|              <button [style.display]="wizard.isReadyToFinish ? 'block' : 'none'" (click)="wizard.onFinish()">Finish</button>
|           </td>
|       </tr>
|   </table>
|</div>
