|<div *ngIf="wizardScreen">
h3 Wizard Screen Details
div
    label Name:
    span {{wizardScreen.name}}

h4 Elements
ul
    | <li *ngFor="#element of wizardScreen.elements">
    span {{element.toString()}}
    |<div *ngIf="element.name.substring(0, 7) == 'textBox'">
    |   <input [(ngModel)]="element.data.value"/>
    |</div>
|</div>
